<div class="py-10 mx-auto mt-20 mb-32 bg-gray-50">
    <h2 class="text-xl font-bold text-center md:text-3xl">This post is only available <br> to paying subscribers</h2>
    <div class="mt-6 text-center">
        <a href="#/portal/account/plans" class="block px-10 py-2 mx-auto text-base font-semibold text-white uppercase w-max font-nunito bg-accent">Subscribe now</a>
        <p class="mt-2 text-base text-dark-secondary font-nunito">Already have an account? <a class="font-bold" href="#/portal/signin">Sign in</a></p>
    </div>
</div>