<nav class="flex space-x-4 ">
    {{#foreach navigation}}
    <a href="{{url absolute='true'}}" class="text-lg hover:underline font-semibold uppercase {{#if current}}underline{{/if}}">{{label}}</a>
    {{/foreach}}
</nav>