{{!< default}} 


{{#tag}} 
    <div class="max-w-2xl mx-auto my-12 text-center md:my-28">
        <h2 class="text-2xl font-bold md:text-5xl">{{name}}</h2>
        {{#if description}}
        <p class="mt-3 text-2xl text-color-dark-primary font-nunito">{{description}}</p>
        {{/if}}

        <p class="mt-8 text-xl font-nunito">
            {{plural ../pagination.total empty='posts' singular='% article' plural='% articles'}}
        </p>
    </div>
{{/tag}}


<div class="max-w-3xl mx-auto">
    <div id="posts" class="flex flex-col space-y-20">
        {{#foreach posts}}
        {{> "article-card-tag"}}
        {{/foreach}}
    </div>

    <div class="my-24 text-center">
        <button id="loadmore" class="px-4 py-2 mx-auto text-lg font-bold transition-all duration-200 border hover:bg-gray-100">
            Load More
        </button>
    </div>
</div>