.post-template,
.page-template {
  @apply overflow-x-hidden;
}

::selection {
  @apply bg-accent;
}

.content-typography {
  @apply prose prose-xl;
  @apply max-w-none font-nunito;
  @apply text-color-dark-primary;
  @apply flex flex-col items-center;

  * {
    @apply self-start;
  }

  //   Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  strong {
    @apply text-color-dark-primary;
  }

  figcaption {
    @apply text-color-dark-tertiary;
  }

  hr {
    @apply w-full dark:border-gray-600;
  }

  a {
    @apply text-color-dark-primary;
  }

  blockquote {
    @apply border-accent;
  }
}

/* Galleries and Images
/* ---------------------------------------------------------- */
.kg-card {
  @apply self-center w-full;
}
figcaption {
  @apply text-center;
}

.kg-image {
  @apply w-full;
}

/* Size: Wide */
.kg-width-wide {
  @apply w-screen md:max-w-[60vw];
}

/* Size: Fullwide */
.kg-width-full {
  @apply w-screen max-w-[100vw];
}

/* Galleries and Images
/* ---------------------------------------------------------- */
.kg-card {
  @apply self-center w-full;
}
figcaption {
  @apply text-center;
}

.kg-image {
  @apply w-full;
}

/* Size: Wide */
.kg-width-wide {
  @apply w-screen lg:max-w-[60vw] md:max-w-[90vw];
}

/* Size: Fullwide */
.kg-width-full {
  @apply w-screen max-w-[100vw];
}

/* Gallery */
.kg-gallery-container {
  @apply flex flex-col space-y-2;
}

.kg-gallery-row {
  @apply flex items-center gap-2;
}
.kg-gallery-image img {
  @apply m-0;
}

/* Bookmark Cards
/* ---------------------------------------------------------- */
.kg-bookmark-card {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

a.kg-bookmark-container {
  @apply flex flex-col md:flex-row;
  @apply no-underline;
  @apply border rounded-md relative overflow-hidden;

  .kg-bookmark-content {
    @apply p-5 flex flex-col space-y-2;

    @media (min-width: 768px) {
      width: calc(100% - 200px);
    }

    .kg-bookmark-title {
      @apply font-semibold text-lg;
    }
    .kg-bookmark-description {
      @apply text-base font-nunito text-gray-500;
    }
    .kg-bookmark-metadata {
      @apply flex items-center space-x-2;
      .kg-bookmark-icon {
        @apply m-0 w-5 h-5;
      }

      .kg-bookmark-author,
      .kg-bookmark-publisher {
        @apply text-sm font-semibold text-gray-600;
      }
      .kg-bookmark-author::after {
        content: ".";
      }
    }
  }

  .kg-bookmark-thumbnail {
    @apply md:w-[200px] md:h-full md:absolute md:top-0 md:right-0 order-first;
    img {
      @apply h-full w-full m-0 object-cover;
    }
  }
}
